.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.btn-middle {
  flex-basis: 100px;
}

.btn-drop > span {
  display: block;
  color: #000;
  text-decoration: none;
}

.search-text {
  flex-grow: 1;
  border:none;
  padding:5px;
  background: #fff;
  margin-right: 4px;
}

.searchFromContainer {
  display: flex;
  #search-filter {
    margin-right: 4px;
  }
  .search-text {
    margin-right: 4px;
  }
}

.selectFadeIn {
  display: block;
}

.selectFadeOut {
  display: none;
}

.selectmenu-enter {
  opacity: 0.01;
}

.selectmenu-enter.selectmenu-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.selectmenu-leave {
  opacity: 1;
}

.selectmenu-leave.selectmenu-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}
